---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/33740?api_key=<MOVIE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - d923698bb3f29f7e290d832a10b46e695d10cd24
      X-Memc-Age:
      - '6876'
      X-Memc-Expires:
      - '14724'
      Etag:
      - W/"0078c81ff55e2d2d2cb6caaa5a4b8af5"
      Last-Modified:
      - Wed, 10 Feb 2021 21:53:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/nOmrM65jDfjJW5CAesBFWMrUWbU.jpg","belongs_to_collection":{"id":208602,"name":"That''s
        Entertainment Collection","poster_path":"/oL9M7tEllrdtJZlEnXMKEg2gdod.jpg","backdrop_path":null},"budget":0,"genres":[{"id":99,"name":"Documentary"},{"id":10751,"name":"Family"},{"id":10402,"name":"Music"}],"homepage":"","id":33740,"imdb_id":"tt0072272","original_language":"en","original_title":"That''s
        Entertainment!","overview":"Various MGM stars from yesterday present their
        favorite musical moments from the studio''s 50 year history.","popularity":10.47,"poster_path":"/zDrBHhOF55FjbJLyYge3I4v1B8S.jpg","production_companies":[{"id":21,"logo_path":"/aOWKh4gkNrfFZ3Ep7n0ckPhoGb5.png","name":"Metro-Goldwyn-Mayer","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1974-06-21","revenue":0,"runtime":135,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"More
        than a movie. It''s a celebration.","title":"That''s Entertainment!","video":false,"vote_average":7.3,"vote_count":37}'
  recorded_at: Wed, 10 Feb 2021 23:52:03 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/33740/credits?api_key=<MOVIE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - f4c0198a98f68e96c31d2d852d109bdee3dd4863
      X-Memc-Age:
      - '12183'
      X-Memc-Expires:
      - '9417'
      Etag:
      - W/"178742526b96eeee3dba0782bad978e0"
      Last-Modified:
      - Wed, 10 Feb 2021 21:53:26 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"id":33740,"cast":[{"adult":false,"gender":2,"id":30181,"known_for_department":"Acting","name":"Fred
        Astaire","original_name":"Fred Astaire","popularity":1.278,"profile_path":"/6gw9PCrKi19I5QOwjEPaOYW9uLI.jpg","cast_id":0,"character":"Himself
        - Host / Narrator","credit_id":"551a97b4c3a368252a0016d0","order":0},{"adult":false,"gender":2,"id":24937,"known_for_department":"Acting","name":"Bing
        Crosby","original_name":"Bing Crosby","popularity":2.095,"profile_path":"/ydxPEeNPr0vaKZmEZXVNvhav3LB.jpg","cast_id":109,"character":"Himself
        - Host / Narrator","credit_id":"551ab5bfc3a368237c001dbf","order":1},{"adult":false,"gender":2,"id":13294,"known_for_department":"Acting","name":"Gene
        Kelly","original_name":"Gene Kelly","popularity":2.352,"profile_path":"/qpxdcekD3x77J6dIxMOUfJifu4[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/33740/reviews?api_key=<MOVIE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - fbc7a2096ebb25c8aafd4a72db7dbb290d440697
      X-Memc-Age:
      - '18905'
      X-Memc-Expires:
      - '2695'
      Etag:
      - W/"096386732bec56907193749e7ac7600c"
      Last-Modified:
      - Wed, 10 Feb 2021 21:53:26 GMT
    body:
      encoding: UTF-8
      string: '{"id":33740,"page":1,"results":[],"total_pages":0,"total_results":0}'
  recorded_at: Wed, 10 Feb 2021 23:52:03 GMT
recorded_with: VCR 6.0.0
